/* 
Blue Light: #30CBEF 
Yellow Light: #FFB742
Yellow Dark: #FE8100
*/

.header{
	background-color: #2e2e2e;
	width: 100%;
	text-align: center;
}

	.header figure{
		display: inline-block;
		padding: 5px;
	}
	
		.header figure img{
			width: 50px;
		}

@media screen and (max-width: 425px){
	.header figure img{
    width: 80px;
	}
}